<div class="row-fluid container" style="">
  <div class="span3" style="min-height:200px; border:1px solid #ecdbc6">
    <p style="color: #5d3f3f;text-decoration: none;font-size: 15px;padding:5px 10px;background:white">TAG CLOUD</p>
    <div>
		
    </div>
  </div>
  <div id="cart" class="span9" style="margin:0px">
    <div class="breadcrumb clearfix" style="border:1px solid #ecdbc6">
         <a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="url"><span itemprop="title">Home</span></a>
         <span class="arrow-space">&#62;</span>
      	 <a href="/cart" title="cart" itemprop="url" tyle="color:#8e2a17">Cart</a>  
          
     </div>
    
    <!-- Begin empty cart -->
    <div  style="border:1px solid #ecdbc6;background:white">
    {% if cart.item_count == 0 %}
      <div style="min-height:100px">
      <h1 style="color: #5d3f3f;border-bottom:1px solid #ecdbc6 ;font-size:14px;display:block;padding:0px;padding-left:20px;line-height:30px;font-weight:300;margin-top:0px">WHAT'S IN MY CART?</h1>
        <p style="margin-left:30px;font-size:13px;">Your Shopping Cart is empty!</p>
        <form action="/">
          <input type="submit" value="Continue" class="btn" style="background:#902D18;height:29px;line-height: 10px;float:right;margin-right:10px"/>
        </form>
      </div>
    <!-- End empty cart -->
    
    <!-- Begin cart -->
    {% else %}
        <h1 style="color: #5d3f3f;border-bottom:1px solid #ecdbc6 ;font-size:14px;display:block;padding:0px;padding-left:20px;line-height:30px;font-weight:none;margin-top:0px">WHAT'S IN MY CART?</h1>
      <div style="padding:15px 15px 50px 15px;height:auto;">
        <form action="/cart" method="post" id="cartform">
          <table class="table table-bordered" style="border:1px solid #ecdbc6">
            <thead>
              <tr>
                <th style="width:68%;color:#AE9F9F;font-size:12px;text-align:center;"><p>Product(s)</p></th>
                <th style="width:12%;color:#AE9F9F;font-size:12px;text-align:center;"><p>Qty.</p></th>
                <th style="width:20%;color:#AE9F9F;font-size:12px;text-align:center;"><p>Total</p></th>
              </tr>
            </thead>
            <tbody>
              {% for item in cart.items %}
              <tr>
                <td style="width:68%">
                  <a href="{{ item.product.url }}" style="color: #ce6140;line-height: 13px;font-weight: normal;display: block;margin:5px 0 15px 20px;">{{ item.product.title }}</a>
                  <a href="{{ item.product.url }}"><img src="{{ item.product.featured_image | product_img_url: 'small' }}"  alt="product" style="height:100px;width:100px;margin:0 0 20px 150px;" /></a>
                </td>
                <td style="position:relative;width:12%;padding:0px;">
                  <input type="text" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" style="width:60%;heigh:30px;margin:20px 0 10px 5px;" /><br />
                  <input type="submit" id="update-cart" name="update" class="btn_button" style="position:absolute;left:0px;" value="Update"/><br />
                  <a href="/cart/change?line={{ forloop.index }}&quantity=0" class="btn_button" style=" position:absolute;bottom:20px;left:0px;">Remove</a>
              	
                </td>
                <td style="width:20%">
                  <p style="font-size:23px;color:#AE9F9F;margin-top:20px">{{ item.line_price | money }} </p>
                </td>
              </tr>
               {% endfor %}
              <tr>
                <td colspan="2"><p style="font-size:18px;color:#AE9F9F;float:right">SUB-TOTAL:</p></td>
                <td><p style="font-size:18px;color:#AE9F9F">{{ cart.total_price | money }} </p></td>
              </tr>
             
            </tbody>
          </table>
          <hr />
          <input  type="submit" id="checkout" name="checkout" class="btn_button" style="float:left" value="Checkout"/>
          <p style="float:left;font-size:15px;color:#AE9F9F;margin-left:10px"> - Or -</p>
          {% if settings.display_extra_checkout_buttons or settings.display_cart_note %}
          <div style="float:left;margin:-20px 0 0 10px;">
            {% if settings.display_extra_checkout_buttons %}
            <div class="extra-checkout-buttons">
              {% if additional_checkout_buttons %}
              {{ content_for_additional_checkout_buttons }}
              {% endif %}
            </div>
            {% endif %}
            {% if settings.display_cart_note %}
            <div class="">
              <div class="checkout-buttons clearfix">
                <label for="note">Add special instructions for your order...</label>
                <textarea id="note" name="note" rows="10" cols="50">{{ cart.note }}</textarea>
              </div>
            </div>
            {% endif %}
          </div>
         {% endif %}
          
        </form>
      </div>
      </div>
   {% endif %}
  </div>
</div>
